<section class="section p-t-md">
  <div class="container">

    <div class="breadcrumb-wrapper">
      <nav class="breadcrumb has-bullet-separator">
        <ul>
          <li><%= link_to "All Transactions", transactions_path(month: @month) %></li>
          <li class="is-active"><a href="#">Import Transactions</a></li>
        </ul>
      </nav>

      <nav class="right-of-breadcrumb">
        <%= link_to "javascript:void(0)", class: "button is-primary m-r-sm", data: {
              controller: "plaid", action: "plaid#open",
              "plaid-env" => Rails.application.credentials[Rails.env.to_sym][:plaid_env] ,
              "plaid-public-key" => Rails.application.credentials[Rails.env.to_sym][:plaid_public_key],
              "plaid-create-item-url" => plaid_items_path(month: @month)
          } do %>
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>Add Accounts</span>
        <% end %>

        <%= link_to plaid_transactions_path(month: @month),
              class: "button is-success", remote: true do %>
          <span class="icon">
            <i class="fas fa-sync"></i>
          </span>
          <span>Sync Transactions</span>
        <% end %>
      </nav>
    </div>

    <div id="month_picker">
      <span class="p-sm">
        <%= link_to plaid_transactions_path(month: previous_month_for(@month)) do  %>
          <span class="icon">
            <i class="fas fa-arrow-circle-left"></i>
          </span>
        <% end %>
      </span>
      <span class="has-text-weight-bold is-size-5 p-sm"><%= @month %></span>
      <span class="p-sm">
        <%= link_to plaid_transactions_path(month: next_month_for(@month)) do  %>
          <span class="icon">
            <i class="fas fa-arrow-circle-right"></i>
          </span>
        <% end %>
      </span>
    </div>

    <div data-container-for="items-and-data">
      <%= render "items_and_data" %>
    </div>

  </div>
</section>
