<section class="section p-t-md">
  <div class="container">

    <div class="breadcrumb-wrapper">
      <nav class="breadcrumb has-bullet-separator">
        <ul>
          <li><%= link_to "All Transactions", transactions_path(month: @month) %></li>
          <li><%= link_to @sub_category.category.name, category_path(@sub_category.category, month: @month) %></li>
          <li class="is-active"><a href="#"><%= @sub_category.name %></a></li>
        </ul>
      </nav>

      <nav class="right-of-breadcrumb visible-tablet-portrait-up">
        <%= link_to new_transaction_path(sub_category_id: @sub_category,
              redirect_url: sub_category_path(@sub_category, month: @month)),
              remote: true, class: "button is-primary" do %>
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>New Transaction</span>
        <% end %>
      </nav>
    </div>

    <div id="month_picker">
      <span class="p-sm">
        <%= link_to sub_category_path(@sub_category, month: previous_month_for(@month)) do  %>
          <span class="icon">
            <i class="fas fa-arrow-circle-left"></i>
          </span>
        <% end %>
      </span>
      <span class="has-text-weight-bold is-size-5 p-sm"><%= @month %></span>
      <span class="p-sm">
        <%= link_to sub_category_path(@sub_category, month: next_month_for(@month)) do  %>
          <span class="icon">
            <i class="fas fa-arrow-circle-right"></i>
          </span>
        <% end %>
      </span>
    </div>

    <div class="box is-clearfix">
      <canvas data-controller="chart"
        data-chart-type="line"
        data-chart-data="<%= @chart_service.spending_history_data %>"
        data-chart-labels="<%= @chart_service.spending_history_labels %>"
        height="300">
      </canvas>
      <br>

      <div class="field p-sm is-pulled-right">
        <%= content_tag :input, nil, name: "recurring_switch", id: "recurring_switch", type: "checkbox",
              class: "switch is-rtl", checked: current_user.include_recurring ? "checked" : nil,
              data: {
                controller: "switch", action: "switch#patch", "switch-url" => settings_path,
                "switch-patch-data" => "include_recurring=#{!current_user.include_recurring}&redirect_url=#{sub_category_path(@sub_category, month: @month)}"
              } %>
        <label for="recurring_switch">Include Recurring Transactions in Chart Data</label>
      </div>
    </div>

    <div class="box">
      <% progress = @transactions_including_recurring.sum(&:amount) %>
      <% total = @sub_category.budget %>
      <h3 class='is-size-5'>Budget -
        <span class='is-size-6'>
          <strong><%= number_to_currency(progress) %></strong> of <strong><%= number_to_currency(total) %></strong>
        </span>
      </h3>
      <progress class='progress <%= budget_bar_klass(progress: progress, total: total) %>'
        value='<%= progress %>' max='<%= total %>'></progress>
    </div>

    <%= render "transactions/transactions_table", redirect_url: sub_category_path(@sub_category, month: @month),
          hidden_columns: ["sub_category"] %>

  </div>
</section>
