<section class="section p-t-md">
  <div class="container">

    <div class="breadcrumb-wrapper">
      <nav class="breadcrumb has-bullet-separator">
        <ul>
          <li><%= link_to "All Transactions", transactions_path(month: @month) %></li>
          <li class="is-active"><a href="#"><%= @category.name %></a></li>
        </ul>
      </nav>

      <nav class="right-of-breadcrumb visible-tablet-portrait-up">
        <%= link_to new_transaction_path(category_id: @category, redirect_url: category_path(@category, month: @month)),
              remote: true, class: "button is-primary" do %>
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>New Transaction</span>
        <% end %>
      </nav>
    </div>

    <div id="month_picker">
      <span class="p-sm">
        <%= link_to category_path(@category, month: previous_month_for(@month)) do  %>
          <span class="icon">
            <i class="fas fa-arrow-circle-left"></i>
          </span>
        <% end %>
      </span>
      <span class="has-text-weight-bold is-size-5 p-sm"><%= @month %></span>
      <span class="p-sm">
        <%= link_to category_path(@category, month: next_month_for(@month)) do  %>
          <span class="icon">
            <i class="fas fa-arrow-circle-right"></i>
          </span>
        <% end %>
      </span>
    </div>

    <div class="box is-clearfix">
      <div class="columns">
        <div class="column is-6">
          <canvas data-controller="chart"
            data-chart-data="<%= @chart_service.sub_categories_data %>"
            data-chart-labels="<%= @chart_service.sub_categories_labels %>">
          </canvas>
        </div>

        <div class="column is-6">
          <canvas data-controller="chart"
            data-chart-type="line"
            data-chart-data="<%= @chart_service.spending_history_data %>"
            data-chart-labels="<%= @chart_service.spending_history_labels %>">
          </canvas>
        </div>
      </div>
      <br>

      <div class="field p-sm is-pulled-right">
        <%= content_tag :input, nil, name: "recurring_switch", id: "recurring_switch", type: "checkbox",
              class: "switch is-rtl", checked: current_user.include_recurring ? "checked" : nil,
              data: {
                controller: "switch", action: "switch#patch", "switch-url" => settings_path,
                "switch-patch-data" => "include_recurring=#{!current_user.include_recurring}&redirect_url=#{category_path(@category, month: @month)}"
              } %>
        <label for="recurring_switch">Include Recurring Transactions</label>
      </div>
    </div>

    <h1 class="title is-size-4">
      Budgets
    </h1>
    <div class="box">
      <% progress = @transactions_including_recurring.sum(:amount) %>
      <% total = @category.sub_categories.sum(:budget) %>
      <h3 class='is-size-5'>Overall -
        <span class='is-size-6'>
          <strong><%= number_to_currency(progress) %></strong> of <strong><%= number_to_currency(total) %></strong>
        </span>
      </h3>
      <progress class='progress <%= budget_bar_klass(progress: progress, total: total) %>'
        value='<%= progress %>' max='<%= total %>'></progress>
    </div>

    <div class="columns is-multiline">
      <% @category.sub_categories.each do |sub_category| %>
        <div class="column is-4">
          <div class="box">
            <%= render "budget_bar", name: sub_category.name, path: sub_category_path(sub_category, month: @month),
                  spending: @chart_service.sub_categories_hash[sub_category.name] || 0, budget: sub_category.budget %>
          </div>
        </div>
      <% end %>
    </div>

    <%= render "transactions/transactions_table", redirect_url: category_path(@category, month: @month),
          hidden_columns: ['category'] %>

  </div>
</section>
