<section class="section p-t-md">
  <div class="container">

    <div class="breadcrumb-wrapper">
      <nav class="breadcrumb has-bullet-separator">
        <ul>
          <li><%= link_to "All Transactions", transactions_path(month: @month) %></li>
          <li class="is-active"><a href="#"><%= @category.name %></a></li>
        </ul>
      </nav>

      <nav class="right-of-breadcrumb visible-tablet-portrait-up">
        <%= link_to new_transaction_path(category: @category, redirect_url: category_path(@category, month: @month)),
              remote: true, class: "button is-primary" do %>
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>New Transaction</span>
        <% end %>
      </nav>
    </div>

    <div id="month_picker">
      <span class="p-sm">
        <%= link_to category_path(@category, month: previous_month_for(@month)) do  %>
          <span class="icon">
            <i class="fas fa-arrow-circle-left"></i>
          </span>
        <% end %>
      </span>
      <span class="has-text-weight-bold is-size-5 p-sm"><%= @month %></span>
      <span class="p-sm">
        <%= link_to category_path(@category, month: next_month_for(@month)) do  %>
          <span class="icon">
            <i class="fas fa-arrow-circle-right"></i>
          </span>
        <% end %>
      </span>
    </div>

    <div class="columns">
      <div class="column is-6">
        <div class="box">
          <canvas data-controller="chart"
            data-chart-data="<%= @chart_service.sub_categories_data %>"
            data-chart-labels="<%= @chart_service.sub_categories_labels %>">
          </canvas>
        </div>
      </div>

      <div class="column is-6">
        <div class="box">
          <canvas data-controller="chart"
            data-chart-type="line"
            data-chart-data="<%= @chart_service.spending_history_data %>"
            data-chart-labels="<%= @chart_service.spending_history_labels %>">
          </canvas>
        </div>
      </div>
    </div>

    <div class="box">
      <% if @transactions.any? %>
        <h1 class="title is-size-4">
          Transactions
          <%= link_to new_transaction_path(category: @category, redirect_url: category_path(@category, month: @month)),
                remote: true, class: "button is-primary is-pulled-right" do %>
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>New Transaction</span>
          <% end %>
        </h1>

        <%= render partial: "transactions/table_tablet_up",
              locals: { hide_category: true, redirect_url: category_path(@category, month: @month) } %>
        <%= render partial: "transactions/table_phone_only",
              locals: { hide_category: true, redirect_url: category_path(@category, month: @month) } %>

      <% else %>
        <h1 class="subtitle is-size-4">
          No Transactions found for this month.
          <%= link_to new_transaction_path(category: @category, redirect_url: category_path(@category, month: @month)),
                remote: true, class: "button is-primary is-pulled-right" do %>
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>New Transaction</span>
          <% end %>
        </h1>
      <% end %>
    </div>
  </div>
</section>
