<section class="section">
  <div class="container">
    <div class="content">
      <h1 class="title">Transactions</h1>
    </div>

    <table class="table is-fullwidth is-hoverable is-striped is-narrow">
      <thead>
        <tr>
          <th>User</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Category</th>
          <th>SubCategory</th>
        </tr>
      </thead>

      <tbody>
        <% @transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.user.email %></td>
            <td><%= transaction.name %></td>
            <td><%= transaction.amount %></td>
            <td><%= transaction.category.name %></td>
            <td><%= transaction.sub_category&.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
