<section class="section p-t-md">
  <div class="container">

    <div class="breadcrumb-wrapper">
      <nav class="breadcrumb has-bullet-separator">
        <ul>
          <li class="is-active"><a href="#">All Transactions</a></li>
        </ul>
      </nav>

      <nav class="right-of-breadcrumb">
        <%= link_to new_transaction_path(redirect_url: transactions_path(month: @month)),
              remote: true, class: "button is-primary m-r-sm" do %>
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>New Transaction</span>
        <% end %>

        <% if @manager.plaid_items.any? %>
          <%= link_to plaid_transactions_path(month: @month), class: "button is-success" do %>
            <span class="icon">
              <i class="fas fa-sync"></i>
            </span>
            <span>Import Transactions</span>
          <% end %>
        <% else %>
          <%= link_to "javascript:void(0)", class: "button is-success", data: {
                controller: "plaid", action: "plaid#open",
                "plaid-env" => Rails.application.credentials.plaid_env ,
                "plaid-public-key" => Rails.application.credentials.plaid_public_key,
                "plaid-create-item-url" => plaid_items_path(month: @month)
            } do %>
            <span class="icon">
              <i class="fas fa-sync"></i>
            </span>
            <span>Import Transactions</span>
          <% end %>
        <% end %>
      </nav>
    </div>

    <div id="month_picker">
      <span class="p-sm">
        <%= link_to transactions_path(month: previous_month_for(@month)) do  %>
          <span class="icon">
            <i class="fas fa-arrow-circle-left"></i>
          </span>
        <% end %>
      </span>
      <span class="has-text-weight-bold is-size-5 p-sm"><%= @month %></span>
      <span class="p-sm">
        <%= link_to transactions_path(month: next_month_for(@month)) do  %>
          <span class="icon">
            <i class="fas fa-arrow-circle-right"></i>
          </span>
        <% end %>
      </span>
    </div>

    <div class="columns">
      <div class="column is-6">
        <div class="box" data-controller="tabs">
          <div class="tabs is-centered">
            <ul>
              <li class="is-active">
                <%= link_to "Categories", "javascript:void(0)",
                      data: { target: "tabs.button", action: "tabs#update", tab_for: "categories" } %>
              </li>
              <li>
                <%= link_to "Sub Categories", "javascript:void(0)",
                      data: { target: "tabs.button", action: "tabs#update", tab_for: "sub_categories" } %>
              </li>
            </ul>
          </div>

          <div data-target="tabs.content" data-content="categories">
            <canvas data-controller="chart"
              data-chart-data="<%= @chart_service.categories_data %>"
              data-chart-labels="<%= @chart_service.categories_labels %>">
            </canvas>
          </div>
          <div class="is-hidden" data-target="tabs.content" data-content="sub_categories">
            <canvas data-controller="chart"
              data-chart-data="<%= @chart_service.sub_categories_data %>"
              data-chart-labels="<%= @chart_service.sub_categories_labels %>">
            </canvas>
          </div>
        </div>
      </div>

      <div class="column is-6">
        <div class="box">
          <div>
            <strong>Total Spent:</strong> <%= number_to_currency @categories.sum(&:spending) %>
          </div>
          <div>
            <strong>Largest Category:</strong>
            <%= @chart_service.largest_category %>
          </div>
          <div>
            <strong>Largest Sub Category:</strong>
            <%= @chart_service.largest_sub_category %>
          </div>
        </div>
      </div>
    </div>

    <h1 class="title is-size-4">
      Budgets
    </h1>
    <div class="box">
      <% progress = @categories.sum(&:spending) %>
      <% total = @categories.sum(&:budget) %>
      <h3 class='is-size-5'>Overall -
        <span class='is-size-6'>
          <strong><%= number_to_currency(progress) %></strong> of <strong><%= number_to_currency(total) %></strong>
        </span>
      </h3>
      <progress class='progress <%= budget_bar_klass(progress: progress, total: total) %>'
        value='<%= progress %>' max='<%= total %>'></progress>
    </div>

    <div class="columns is-multiline">
      <% @categories.each do |category| %>
        <div class="column is-4">
          <div class="box">
            <%= render "category_budget_bar", category: category %>
          </div>
        </div>
      <% end %>
    </div>

    <%= render "transactions_table", redirect_url: transactions_path(month: @month) %>

  </div>
</section>
