<section class="section p-t-md">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul class="is-size-4">
        <li class="is-active"><a href="#">All Transactions</a></li>
      </ul>
    </nav>

    <div id="month_picker">
      <span class="p-sm">
        <%= link_to transactions_path(month: previous_month_for(@month)) do  %>
          <span class="icon">
            <i class="fas fa-arrow-circle-left"></i>
          </span>
        <% end %>
      </span>
      <span class="has-text-weight-bold is-size-5 p-sm"><%= @month %></span>
      <span class="p-sm">
        <%= link_to transactions_path(month: next_month_for(@month)) do  %>
          <span class="icon">
            <i class="fas fa-arrow-circle-right"></i>
          </span>
        <% end %>
      </span>
    </div>

    <div class="columns">
      <div class="column is-6">
        <div class="box" data-controller="tabs">
          <div class="tabs is-centered">
            <ul>
              <li class="is-active">
                <%= link_to "Categories", "javascript:void(0)",
                      data: { target: "tabs.button", action: "tabs#update", tab_for: "categories" } %>
              </li>
              <li>
                <%= link_to "Sub Categories", "javascript:void(0)",
                      data: { target: "tabs.button", action: "tabs#update", tab_for: "sub_categories" } %>
              </li>
            </ul>
          </div>

          <div data-target="tabs.content" data-content="categories">
            <canvas data-controller="chart"
              data-chart-data="<%= @chart_service.categories_data %>"
              data-chart-labels="<%= @chart_service.categories_labels %>">
            </canvas>
          </div>
          <div class="is-hidden" data-target="tabs.content" data-content="sub_categories">
            <canvas data-controller="chart"
              data-chart-data="<%= @chart_service.sub_categories_data %>"
              data-chart-labels="<%= @chart_service.sub_categories_labels %>">
            </canvas>
          </div>
        </div>
      </div>

      <div class="column is-6">
        <div class="box">
          <div>
            <strong>Total Spent:</strong> <%= number_to_currency @transactions.sum(:amount) %>
          </div>
          <div>
            <strong>Largest Category:</strong>
            <%= @chart_service.largest_category %>
          </div>
          <div>
            <strong>Largest Sub Category:</strong>
            <%= @chart_service.largest_sub_category %>
          </div>
        </div>
      </div>
    </div>

    <h1 class="title is-size-4">
      Budgets
    </h1>
    <div class="box">
      <% progress = @transactions.sum(:amount) %>
      <% total = @categories.sum(&:budget) %>
      <h3 class='is-size-5'>Overall -
        <span class='is-size-6'>
          <strong><%= number_to_currency(progress) %></strong> of <strong><%= number_to_currency(total) %></strong>
        </span>
      </h3>
      <progress class='progress <%= budget_bar_klass(progress: progress, total: total) %>'
        value='<%= progress %>' max='<%= total %>'></progress>
    </div>

    <div class="columns is-multiline">
      <% @categories.each do |category| %>
        <div class="column is-4">
          <div class="box">
            <%= render "category_budget_bar", category: category %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="box">
      <% if @transactions.any? %>
        <h1 class="title is-size-4">
          Transactions
          <%= link_to "New Transaction",
                new_transaction_path(redirect_url: transactions_path(month: @month)),
                remote: true, class: "button is-primary is-pulled-right" %>
        </h1>
        <table class="table is-fullwidth is-narrow">
          <thead>
            <tr>
              <th>User</th>
              <th>Name</th>
              <th>Amount</th>
              <th>Category</th>
              <th>SubCategory</th>
              <th>Date</th>
              <th class="has-text-centered">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @transactions.each do |transaction| %>
              <tr>
                <td><%= transaction.user.email %></td>
                <td><%= transaction.name %></td>
                <td><%= number_to_currency transaction.amount %></td>
                <td><%= link_to transaction.category.name, category_path(transaction.category, month: @month) %></td>
                <td><%= transaction.sub_category.name %></td>
                <td><%= transaction.date %></td>
                <td class="has-text-centered">
                  <%= link_to edit_transaction_path(transaction) do %>
                    <span class="icon">
                      <i class="far fa-edit"></i>
                    </span>
                  <% end %>
                  <%= link_to transaction_path(transaction), method: :delete, data: {
                        controller: "link", action: "link#confirm",
                        "link-confirm-message" => "Are you sure you wish to delete this transaction?"
                      } do %>
                    <span class="icon">
                      <i class="far fa-trash-alt"></i>
                    </span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <h1 class="subtitle is-size-4">
          No Transactions found for this month.
          <%= link_to "New Transaction",
                new_transaction_path(redirect_url: transactions_path(month: @month)),
                remote: true, class: "button is-primary is-pulled-right" %>
        </h1>
      <% end %>
    </div>
  </div>
</section>
