<nav class="navbar is-dark" role="navigation" aria-label="main navigation" data-controller='burger'>
  <div class="navbar-brand">
    <%= link_to "Budgeter", root_path, class: "navbar-item is-size-4 has-text-weight-bold" %>
    <% if current_user %>
      <%= link_to "javascript:void(0)", class: 'navbar-burger burger', data: { action: 'burger#toggle' } do %>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      <% end %>
    <% end %>
  </div>

  <div class="navbar-menu" data-target='burger.menu'>
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <% if current_user %>
        <%= link_to "Recurring Transactions", recurring_path, class: "navbar-item" %>
        <%= link_to "Categories & Budgets", categories_path, class: "navbar-item" %>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <%= current_user.email %>
          </a>

          <div class="navbar-dropdown">
            <%= link_to "Settings", edit_settings_path, class: "navbar-item" if current_user.is_manager? %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete,
                  class: "navbar-item" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
